body {
  background-color: rgb(255, 195, 218);
  text-align: right;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
/*   margin-top: 10%; */
  font-family: Georgia, serif;
}

html{
  height: 100%;
  width: 100%;
}

#myCanvas {
  border: 10px solid rgb(255, 214, 237);
  
}

.container{
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(255, 237, 250);
  justify-content: space-around;
  align-items: flex-start;
  padding-bottom: 20px;
}

.pic{
  height: 100px;
  width: 670px;
  object-fit: cover;
  border: px solid black;
}

h2{
  color: rgb(243, 197, 223 );
/*   font-size: 10px; */
}
h4{
  color: rgb(243, 197, 223 );
}

#start{
  text-align: left;
}

#end{
  text-align: right;
}